@model ProjekUASFrameworkSistemBK.Models.SiswaViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detail Siswa</h1>

<div>
    <h4>Data Siswa</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Nama)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Nama)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.NIS)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.NIS)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Kelas)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Kelas)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.JenisKelamin)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.JenisKelamin)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Alamat)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Alamat)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.NoTelp)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.NoTelp)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Kembali</a>
</div>