@model ProjekUASFrameworkSistemBK.Models.Siswa

@{
    ViewData["Title"] = "Delete";
}

<h1>Hapus Data Siswa</h1>

<h3>Apakah kamu yakin ingin menghapus data ini?</h3>
<div>
    <h4>UserLogin</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nama)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nama)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NIS)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NIS)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kelas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kelas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JenisKelamin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JenisKelamin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Alamat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alamat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NoTelp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NoTelp)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Hapus" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Kembali</a>
    </form>
</div>
